DotnetFramework/WCF/RoomReservation/RoomReservationClient/Service References/RoomReservationService/RoomReservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cninnovation.com/RoomReservation/2012" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cninnovation.com/RoomReservation/2012" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cninnovation.com/RoomReservation/2012/Imports">
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd0" namespace="http://www.cninnovation.com/RoomReservation/2012" />
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/RoomReservation?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.WCF.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomService_ReserveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ReserveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomReservations" />
  </wsdl:message>
  <wsdl:message name="IRoomService_GetRoomReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="ReserveRoom">
      <wsdl:input wsaw:Action="http://www.cninnovation.com/RoomReservation/2012/IRoomService/ReserveRoom" message="tns:IRoomService_ReserveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cninnovation.com/RoomReservation/2012/IRoomService/ReserveRoomResponse" message="tns:IRoomService_ReserveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoomReservations">
      <wsdl:input wsaw:Action="http://www.cninnovation.com/RoomReservation/2012/IRoomService/GetRoomReservations" message="tns:IRoomService_GetRoomReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cninnovation.com/RoomReservation/2012/IRoomService/GetRoomReservationsResponse" message="tns:IRoomService_GetRoomReservations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>